{% extends 'Site/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="main">
    <div class="intro" style="text-align: center;">
        <h3>HEY,I'm a <span style="color: aqua;">Full-Stack</span>  Developer</h3>
        <h3 style="color: aqua;"> Gitundu Kevin Njoroge</h3>
        <p>A fullstak python web developer <br> with <span style="color: aqua;">4 years </span> of coding experience</p>
        <a href="static\Site\Kevin's Resume (4).pdf" download><button class="cv">Download CV</button></a>

    </div>
        
</div>
<section class="about" id="about">
    <div class="max-width" id="abouts">
        <h2 class="about-title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="static\Site\DSC_1001 (2).jpg" alt="">
            </div>
            <div class="column right">
                <p>Hey, i am Kevin Gitundu and i am a software developer.</p>
                <p>

                    Dedicated web developer with four years of experience in databases and website design.<br>
                     Strong creative and analytical skills.<br>
                     Team player with an eye for detail. MySQL, Python(django) React and JavaScript.<br>
                    
                    
                    Motivated designer and developer with experience creating custom websites through Django and the Django Rest Framework.<br>
                     Strong collaboration skills and proven history of application development.                </p>
                
                <a href="static\Site\Kevin's Resume (4).pdf" download>Download CV</a>
            </div>
        </div>
    </div>
    <hr/ style="margin-top: 50px;margin-left: 5%;margin-right: 5%;">
</section>


<skills id="skillss">
    <h2 style="text-align: center;padding-top: 40px;" class="about-title" >MY Skills</h2>
    <div class="d-flex bd-highlight" style="padding-top: 30px;">
        <div class="p-2 flex-fill bd-highlight" style="width: 40%;" id="skill"><h4>Skills</h4>
        <p>Over the years i have acquired skills and worked with the following Languages,libraries and frameworks.</p></div>
        <div class="p-2 flex-fill bd-highlight" style="width: 60%;">
            
            <h4>HTML</h4>
            <div class="progress" style="width: 90%;height:10px;">
                
                <div class="progress-bar" role="progressbar" style="width: 70%;;background-color: aqua;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="60"></div>
              </div>
              <h4>CSS</h4>
              <div class="progress" style="width: 90%;height:10px;">
                  
                <div class="progress-bar " role="progressbar" style="width: 75%;background-color: aqua;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4>Django</h4>
              <div class="progress" style="width: 90%;height:10px;"> 
                  
                <div class="progress-bar" role="progressbar" style="width: 70%;background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4>DATABASES</h4>
              <div class="progress" style="width: 90%;height:10px;"> 
                  
                <div class="progress-bar " role="progressbar" style="width: 70%;background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h4>REACT</h4>
              <div class="progress" style="width: 90%;height: 10px;">
                
              <div class="progress-bar" role="progressbar" style="width: 60%;background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <h4>JAVASCRIPT</h4>
              <div class="progress" style="width: 90%;height:10px;">
                
              <div class="progress-bar bg-aqua"  role="progressbar" style="width: 60%;background-color: aqua;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <p style="color:white;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga quam nostrum dolores, itaque optio earum laboriosam enim. Culpa nobis quae maxime iusto ullam aut assumenda aliquam accusamus sunt? Aliquid, quos!</p>
             </p>
             </div>
      </div>
      <hr/ style="margin-top: 0px;margin-left: 5%;margin-right: 5%;">

</skills>
<h2 class="about-title" style="padding-top: 40px;" id="educations">Education</h2>
<education >

<div class="d-flex bd-highlight" style="padding-top: 30px;">
    <div class="p-2 flex-fill bd-highlight" style="width: 30%;" id="edu"><h4>Education</h1></div>
    <div class="p-2 flex-fill bd-highlight" style="width: 70%;">
        <div style="padding-left: 60px;padding-top: 10px;">
        <h4>Laikipia University</h4>

            <h6 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Bachelor's degree in information and communication technology (BICT)</h6>
            <p>Awaiting graduation</p>
        </div>
        
         </p>
         </div>
  </div>
</div>
<div class="d-flex bd-highlight" style="padding-top: 30px;">
    <div class="p-2 flex-fill bd-highlight" style="width: 30%;" id="edu"><h4>Certification</h1></div>
    <div class="p-2 flex-fill bd-highlight" style="width: 70%;">
        <h6 style="padding-left: 60px;padding-top: 10px;">I have undertaken various online courses and attained the following certifications:</h5>
        <div style="padding-left: 70px;padding-top: 10px;">
            <h6>1) Introduction to IOT 15 May 2021</h6>
            <h6>2) IT Essentials</h6>
            <h6>3) Linux unhatched 12 oct 2021</h6>
            <h6>4) CCNA R&S: Introduction to Networks 15 Dec 2019</h6>
        </div>
       
         </div>
  </div>
</div>
<hr/ style="margin-top: 50px;margin-left: 5%;margin-right: 5%;">
</education>
<contact class="contacts" id="contacts">
    <h2 class="about-title" style="text-align: center;padding-top: 40px;">Contact Me</h2>
    <div class="d-flex bd-highlight" style="padding-top: 30px;" >
        <div class="p-2 flex-fill bd-highlight" id="contacts" style="width: 30%;margin-left: 40px;">
           
</div>
        <div class="p-2 flex-fill bd-highlight" style="width: 50%;margin-right: 150px;">
           
            <div class="continer">
                
            </div>
             </div>
      </div>
    </div>
    
</contact>
<section class="contact" id="contact">
    <div class="max-width">
   
        <div class="contact-content" style="padding-right: 50px;">
            <div class="column left">
                <h4 class="about-title" style="text-align: start;padding-left: 30px;">  get in touch</h4>
                <p><i class="fa fa-phone" aria-hidden="tru"></i>  +254 726855476</p>
                <p><i class="fa fa-phone" aria-hidden="tru"></i>  +254 742134431</p>
                <p><i class="fa fa-globe" aria-hidden="tru"></i>  Kenya</p>
            <p><i class="fa fa-envelope" aria-hidden="tru"></i>     njokevin9@gmail.com</p>
           <p> <i class="fa fa-facebook" aria-hidden="tru"></i><a href="https://web.facebook.com/kevin.gitundu.98">Kevingitundu</a></p> 
            <p><i class="fa fa-twitter" aria-hidden="tru"> </i><a href="https://twitter.com/kevin01319795">@Kevingitundu</a></p>
            <p><i class="fa fa-linkedin" aria-hidden="tru"> </i><a href="https://www.linkedin.com/in/kevin-gitundu-4a0370215">Kamcho</a></p>
        
            <p><i class="fa fa-github" aria-hidden="tru"> </i><a href="https://github.com/kamcho">Kevin Gitundu</a></p>
            </div>
            <div class="column right">
                <div class="text" style="text-decoration: underline;text-decoration-color: aqua;text-decoration-thickness: 3px;text-underline-offset: 10px;">Email me</div>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form | crispy }}
                <button class="btn btn-ino my-3" style="background-color: aqua;" type="submit">Send message</button>
                </form>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer style="text-align: center;">
    <div class="social">
         <a href="https://web.facebook.com/kevin.gitundu.98"><i class="fa fa-facebook" aria-hidden="tru"></i></a>
       <a href="https://twitter.com/kevin01319795"> <i class="fa fa-twitter" aria-hidden="tru"> </i></a>
        <a href="https://github.com/kamcho"><i class="fa fa-github" aria-hidden="tru"> </i></a>
        <a href="https://www.linkedin.com/in/kevin-gitundu-4a0370215"><i class="fa fa-linkedin" aria-hidden="tru"> </i></a>

     </div>

</footer>
{% endblock %}